<h1>Add location</h1>
<form id="add-location" name="add-location" method="POST" action="/users/add-location">
    <div>
        <label for="zipcode">Zipcode: </label>
        <input type="text" name="zipcode" required>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>