<h2>Hello {{FirstName}} {{LastName}}</h2>
<h1>Change your Username using the form below.</h1>



<form id="edit-user" name="edit-user" method="PUT" action="/users/edit-user">
    <div>
        <label for="Username">Email: </label>
        <input type="text" name="username" required>
    </div>
    
</form>